export(addToHolidays)
export(allHolidays)
export(dateFormat)
export(dateParse)
export(dateAlign)
S3method(dateAlign, default)
S3method(dateAlign, character)
S3method(dateAlign, Date)
S3method(dateAlign, POSIXct)
S3method(dateAlign, POSIXlt)
export(dateMatch)
S3method(dateMatch, character)
S3method(dateMatch, default)
S3method(dateMatch, Date)
S3method(dateMatch, POSIXct)
S3method(dateMatch, POSIXlt)
export(dateSeq)
S3method(dateSeq, default)
S3method(dateSeq, character)
S3method(dateSeq, Date)
S3method(dateSeq, POSIXct)
S3method(dateSeq, POSIXlt)
export(dateShift)
S3method(dateShift, default)
S3method(dateShift, character)
S3method(dateShift, Date)
S3method(dateShift, POSIXct)
S3method(dateShift, POSIXlt)
export(dateWarp)
S3method(dateWarp, default)
S3method(dateWarp, character)
S3method(dateWarp, Date)
S3method(dateWarp, POSIXct)
S3method(dateWarp, POSIXlt)
export(dateWarpAppend)
export(dateDow)
S3method(dateDow, default)
S3method(dateDow, character)
export(holidays)
export(isHoliday)
export(registerHolidays)
export(unregisterHolidays)
